<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo" font-size="58px">
          β 
        </div>
    </header>    
        </div>
        <main>
               
        <div class="content">
			<h1>Hi, i'm Matheus <br>
			a developer based in Brasil.</h1>
			<h3>See My Resume</h3>
			<a rel="download-resume" href="#" style="color: #777;">Download</a>
		</div>
        <br><div class="content">
            <h2>About me</h2>
            <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip<br>
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br>
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br>
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br> et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip<br>
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br></p>
</div>
        <br><div class="content">
            <h2>Work</h2>
			<h3> Project Blank -  <a rel="link-resume" href="index.html" style="color: #777;">Github</a></h3>
			<h4>About</h4>
			<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>eiusmod
			tempor incididunt ut laborealiqua. Ut enim ad minim veniam,
			quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
			<h3> Project X -  <a rel="link-resume" href="index.html" style="color: #777;">Github</a></h3>
			<h4>About</h4>
			<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>eiusmod
			tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitations</p>
        </div>
    </main>
    <br><br><div style="text-align: center;">
		<h2>Get in touch</h2>
			<a href="#" style="color: #777;">e-mail</a> <a href="#" style="color: #777;">twitter</a> <a href="#" style="color: #777;">discord</a> <a rel="link-resume" href="#" style="color: #777;"></a>
		</div>
    <footer>
        © 2024 - <b>Matheus Brião</b> - Developed by <a rel="#" href="#" style="color: white;">βrião</a> - All Rights Reserved
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>